<body>
    <div class="container">
        <h1 class="mb-4 text-center mt-4">Edit Article</h1>
        <form action="/articles/{{articleData.id}}?_method=PUT" method="POST">
            {{> form}}
        </form>
    </div>
</body>