<body>
    <div class="container">
        <h1 class="mb-4 text-center mt-4">New Article</h1>
        {{!-- form --}}
        <form action="/articles/" method="POST">
            {{> form }}
        </form>
    </div>
</body>
